body{
    background-image: url("giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h3{
    color: white;
}
div{
    width: 100px;
    height: 100px;
    border-radius: 75%;
    background-color: red;
    animation-iteration-count: infinite;
    position: relative;
}
div:hover{
    animation-name: circle;
    animation-duration: 3s;
}
@keyframes circle{
    0% {left: 0px;}
    50% {left: 200px;}
    100% {left: 0px;}
    from {background-color: orange;}
    to {background-color: green;}
}